<h2>Editar Restaurante</h2>

<%= render "form.html", Map.put(assigns, :action, restaurante_path(@conn, :update, @restaurante)) %>

<span><%= link "Voltar", to: restaurante_path(@conn, :index) %></span>
