<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Jf!</title>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.3/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <nav class="light-blue" role="navigation">
      <div class="nav-wrapper container">
        <a href="/" class="brand-logo">Jaguaribe Food</a>
        <%= if @conn.assigns[:user] do %>
          <ul id="dropdown1" class="dropdown-content">
            <!--<li class="divider"></li>-->
            <li> <%= link "Sair", to: user_path(@conn, :signout) %></li>
          </ul>
          <div class="nav-wrapper">
            <ul class="right hide-on-med-and-down">
              <li><%= link "Meus pedidos", to: pedido_path(@conn, :index) %></li>
              <li><%= link "Carrinho", to: cart_path(@conn, :index) %></li>
              <li><%= link "Endereços", to: endereco_path(@conn, :index) %></li>
              <li><a class="dropdown-trigger" href="/" data-target="dropdown1"><%= @conn.assigns.user.email %><i class="material-icons right">arrow_drop_down</i></a></li>
            </ul>
          </div>
        <% else %>
          <%= if signed_in?(@conn) do %>
              <ul id="dropdown1" class="dropdown-content">
              <!--<li class="divider"></li>-->
              <li> <%= link "Sair", to: user_path(@conn, :signout) %></li>
              </ul>
            <div class="nav-wrapper">
              <ul class="right hide-on-med-and-down">
                <li><%= link "Meus produtos", to: produto_path(@conn, :index) %></li>
                <li><%= link "Pedidos", to: pedido_path(@conn, :index) %></li>
                <li><%= link "Mensagens", to: message_path(@conn, :index) %></li>
                <li><a class="dropdown-trigger" href="/" data-target="dropdown1">Bugger<i class="material-icons right">arrow_drop_down</i></a></li>
              </ul>
            </div>
          <% else %>
            <div class="nav-wrapper">
              <ul class="right hide-on-med-and-down">
                <li><%= link "Carrinho", to: cart_path(@conn, :index) %></li>
                <li><%= link "Entrar com Facebook", to: user_path(@conn, :request, "facebook") %></li>
                <li><%= link "Entrar Restaurante", to: admin_path(@conn, :new) %></li>
              </ul>
            </div>
          <% end %>
        <% end %>

    </nav>

    <div class="container">
      <header class="header">

      </header>

     
      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
