<h1 class="page-title"><%= gettext "Produtos" %></h1>
<div class="row">
  <%= for produto <- @produtos do %>
    <div class="col-md-4">
      <%= render JfWeb.ProdutoView, "index.html", conn: @conn, produto: produto %>
    </div>
  <% end %>
</div>
